<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/dashboard.css">
  </head>

  <body>
   
    <div class="contain  md:overflow-auto">
      <%- include('./includes/nav.ejs') %>
        <div class="content">
          <% if(notes.length == 0) { %>
            <div class="flex justify-center">
              <!-- <img src="/images/dashboard.png" class="w-1/3" alt="Note"> -->
               <!-- <p>Add a <a href="note-editor">new note </a></p> -->
               <a href="note-editor" class="note-card" id="arrow">
                <h1 class="font-semibold text-gray-400" id="note-title">+ New note...</h1>
              </a>  
            </div>
            

            <% } else { %> 
              <div class="notes">
                  <% for(let note of notes) { %>

                <%
                  let months = [
                  "January", "February", "March",
                  "April", "May", "June", "July",
                  "August", "September", "October",
                  "November", "December"
                  ];
                  %>
            
                  <a href="/note/<%= note._id %>" class="note-card" id="arrow">
                    <h1 class="font-semibold uppercase" id="note-title"><%= note.title %></h1>
                    <h6 id="note-date"><%= note.formattedDate %></h6> 
                  </a>  
                <% } %>
              </div>
                
              <% if(totalPages > 1) { %>
                <div class="pagination-div">
                    <%- include('./includes/pagination.ejs', {currentPage: currentPage, nextPage:nextPage,
                  previousPage:previousPage, lastPage: lastPage
                  ,hasNextPage:hasNextPage,hasPreviousPage:hasPreviousPage, totalPages: totalPages}) %>
                </div>
              <% } %>

                       
              
        <% } %>
          
        </div>
       
      

    </div>

    <%- include('./includes/end.ejs') %>