<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/note.css">
  </head>

  <body>
    <!-- <div class="flex justify-start px-2 ml-4" ><a href="/dashboard" class=" bg-indigo-500 p-2 mt-5 rounded-md  hover:bg-white hover:text-indigo-900 text-white">Back</a></div> -->
    <div class="note-page">
    <div class="back-button" ><a href="/dashboard"> ← Back</a></div>
     
        <div class="note">
          <h1><%= title %></h1>
          <div class="note-content">
              <%- html %>
          </div>
        
        </div> 
        <div id="note-btn">
            <a href="/note-editor/<%= id %>">Edit</a>
            <form action="/delete-note" method="POST">
              <input type="hidden" value="<%= id %>" name="noteId">
              <button  type="submit" margin="0px">Delete</button>
          </form>
        </div>
      
    </div>

    <%- include('./includes/end.ejs') %>